{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/employees/employee-info/{{.Employee.UniqueId}}/add-phone" method="POST" enctype="multipart/form-data">
        <h3 class="ui header">Employee: {{.Employee.FirstName}} {{.Employee.LastName}}</h3>
        <div class="ui divider"></div>
        <input type="hidden" name="employee_id" value="{{.Employee.EmployeeId}}">

        <div class="field">
            <label for="contact_type_id"><strong>Contact Type:</strong></label>
            <select class="ui dropdown" name="contact_type_id" id="contact_type_id" autofocus required>
                <option value="">Select Contact Type</option>
                {{ range .ContactTypes }}
                    <option value="{{ .TypeId }}">{{ .TypeName }}</option>
                {{ end }}
            </select>
        </div>

        <div class="field">
            <label for="phone_number"><strong>Phone Number:</strong></label>
            <div class="two fields">
                <div class="field">
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="dialing_code" id="dialing_code" required>
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Dialing Code</div>
                        <div class="menu">
                            {{ range .Countries }}
                                <div class="item" data-value="{{ .DialingCode }}">
                                    <i class="{{ .IsoCodeLower  }} flag"></i>
                                    ({{ .DialingCode }}) {{ .CountryName }}
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <input class="ui input" type="text" name="phone_number" id="phone_number" placeholder="Enter Phone Number" required>
                </div>
            </div>
        </div>

        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <button type="reset" class="ui button">
                <i class="eraser icon"></i>
                Clear
            </button>
            <div class="or"></div>
            <a href="/employees/employee-info/{{.Employee.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
