{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/employees/employee-info/{{.Employee.UniqueId}}/associate-user-account" method="POST" enctype="multipart/form-data">
        <h3 class="ui header">Employee: {{.Employee.FirstName}} {{.Employee.LastName}}</h3>
        <div class="ui divider"></div>
        <input type="hidden" name="employee_id" value="{{.Employee.EmployeeId}}">
        
        <div class="field">
            <label for="role_id"><strong>Available Users:</strong></label>
            <select class="ui dropdown" name="user_id" id="user_id" autofocus required>
                {{ range .AvailableUsers }}
                    <option value="{{ .UserId }}">{{ .UserName }} - {{.Email}}</option>
                {{ end }}
            </select>
        </div>

        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <button type="reset" class="ui button">
                <i class="eraser icon"></i>
                Clear
            </button>
            <div class="or"></div>
            <a href="/employees/employee-info/{{.Employee.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
