<div class="eight wide column" align="right">
    <a href="/employees/employee-info/{{.Employee.UniqueId}}/add-address" class="ui primary button small">
        <i class="plus circle icon"></i>
        Add Address
    </a>
</div>

{{ if .CountAddresses}}
    <h4>Registered Address: {{.CountAddresses}}</h4>
    {{ range .EmployeeAddresses }}
        <div class="ui segment">
            <div class="eight wide column" align="right">
                <a href="/employees/employee-info/{{.EmployeeUniqueId}}/edit-address/{{.UniqueId}}" class="ui primary button small">
                    <i class="edit icon"></i>
                    Edit
                </a>
            </div>
            {{ if .IsCurrent }}
                <div class="ui green label">
                    <i class="checkmark icon"></i> Current Address
                </div>
            {{ end }}
            <p><strong>State:</strong> {{.State}}</p>
            <p><strong>City:</strong> {{.City}}</p>
            <p><strong>Neighborhood:</strong> {{.Neighborhood}}</p>
            <p><strong>Street:</strong> {{.Street}}</p>
            <p><strong>House Number:</strong> {{.HouseNumber}}</p>
            <p><strong>Postal Code:</strong> {{.PostalCode}}</p>
            <p><strong>Country Code:</strong> {{.CountryCode}}</p>
            <p><strong>Aditional Details:</strong> {{.AdditionalDetails}}</p>
        </div>
    {{ end }}
{{ else }}
    <div class="ui warning message">
        No Address added
    </div>
{{ end }}