{{ template "_partials/header-back" .}}

<div class="ui segment">

    <div class="ui right floated buttons">
        <a href="/employees/employee-info" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/employees/employee-info/{{.Employee.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="personal">Personal Data</a>
        <a class="item" data-tab="contacts">Contacts</a>
        <a class="item" data-tab="documents">Documents</a>
        <a class="item" data-tab="professional">Professional</a>
        <a class="item" data-tab="health">Health</a>
        <a class="item" data-tab="account">Account</a>
    </div>

    <div class="ui bottom attached tab segment active" data-tab="personal">
        {{ template "employee/employee-info/details-personal" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="contacts">
        {{ template "employee/employee-info/details-contacts" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="documents">
        {{ template "employee/employee-info/details-documents" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="professional">
        {{ template "employee/employee-info/details-professional" . }}
    </div>
    <div class="ui bottom attached tab segment" data-tab="health">
        {{ template "employee/employee-info/details-health" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="account">
        {{ template "employee/employee-info/details-account" . }}
    </div>
    
</div>

{{ template "_partials/footer-back" .}}

<script>
    $('.menu .item').tab();
</script>
