<p><strong>Employee Documents: {{.CountDocuments}}</strong></p>
<div class="ui right aligned container">
    <a href="/employees/employee-info/{{.Employee.UniqueId}}/add-document" class="ui primary button small">
        <i class="plus icon"></i>
        Add Document
    </a>
</div>
{{ if .CountDocuments }}
    <table class="ui selectable small table blue">
        <thead>
            <tr>
                <th>Doc. Name</th>
                <th>Doc. Number</th>
                <th>Type</th>
                <th>Expiration</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {{ range .EmployeeDocuments }}
                <tr>
                    <td>{{.DocumentName}}</td>
                    <td>{{.DocumentNumber}}</td>
                    <td>{{.DocumentTypeName}}</td>
                    <td>{{.ExpirationDate}}</td>
                    <td>{{.Status}}</td>
                    <td>
                        <a target="_blank" href="/employees/employee-info/display-document/{{.UniqueId}}" class="ui icon button" data-tooltip="Display">
                            <i class="pdf file red blue icon"></i>
                        </a>
                        <a href="/employees/employee-info/{{.EmployeeUniqueId}}/edit-document/{{.UniqueId}}" class="ui icon button" data-tooltip="Edit Info">
                            <i class="pencil blue icon"></i>
                        </a>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ else }}
    <div class="ui warning message">
        No documents found
    </div>
{{ end }}