{{ if .EmployeeAccount.UserId }}
    <p><strong>User Name:</strong> {{.EmployeeAccount.UserName}}</p>
    <p><strong>Email Account:</strong> {{.EmployeeAccount.Email}}</p>
    <p><strong>Creation Date:</strong> {{.EmployeeAccount.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.EmployeeAccount.UpdatedAt}}</p>
{{ else }}
    <div class="eight wide column right aligned">
        <a href="/employees/employee-info/{{.Employee.UniqueId}}/add-user-account" class="ui primary button small">
            <i class="plus icon"></i>
            Add User Account
        </a>
    </div>
{{ end}}