<div class="eight wide column"  align="right">
    <a href="/employees/employee-info/{{.Employee.UniqueId}}/edit" class="ui primary button small">
        <i class="pencil icon"></i>
        Edit
    </a>
</div>

<p><strong>Employee ID:</strong> {{.Employee.EmployeeId}}</p>
<p><strong>Full Name:</strong> {{.Employee.FirstName}} {{.Employee.LastName}}</p>
<p><strong>Identification Number:</strong> {{.Employee.IdentificationNumber}}</p>
<p><strong>Gender:</strong> {{.Employee.Gender}}</p>
<p><strong>Date of Birth:</strong> {{.Employee.DateOfBirth}}</p>
<p><strong>Identification Type:</strong> {{.Employee.IdentificationTypeName}}</p>
<p><strong>Country:</strong> {{.Employee.CountryName}}</p>
<p><strong>Marital Status:</strong> {{.Employee.MaritalStatusName}}</p>
<p><strong>Creation Date:</strong> {{.Employee.CreatedAt}}</p>
<p><strong>Last Update:</strong> {{.Employee.UpdatedAt}}</p>