{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/references/contact-types" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/references/contact-types/{{.ContactType.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>
    <p><strong>ID:</strong> {{.ContactType.TypeId}}</p>
    <p><strong>Type Name:</strong> {{.ContactType.TypeName}}</p>
    <p><strong>Code:</strong> {{.ContactType.Code}}</p>
    <p><strong>Creation Date:</strong> {{.ContactType.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.ContactType.UpdatedAt}}</p>
</div>

{{ template "_partials/footer-back" .}}
