{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/company/projects/create" method="POST">
        <div class="field">
            <label for="company_id"><strong>Company:</strong></label>
            <select class="ui dropdown" id="company_id" name="company_id" required>
                <option value="">Select Company</option>
                {{ range .Companies }}
                    <option value="{{.CompanyId}}">{{.CompanyName}}</option>
                {{ end }}
            </select>
        </div>
        <div class="field">
            <label for="project_name"><strong>Project Name:</strong></label>
            <input class="ui input" type="text" name="project_name" id="project_name" placeholder="Enter project name" required>
        </div>
       
        <div class="field">
            <label for="start_date"><strong>Start Date:</strong></label>
            <input class="ui input" type="date" name="start_date" id="start_date" required>
        </div>
        <div class="field">
            <label for="end_date"><strong>End Date:</strong></label>
            <input class="ui input" type="date" name="end_date" id="end_date">
        </div>
        <div class="field">
            <select class="ui dropdown" id="status" name="status" required>
                <option value="">Select Status</option>
                <option value="Pending">Pending</option>
                <option value="Not Started">Not Started</option>
                <option value="Planning">Planning</option>
                <option value="In Progress">In Progress</option>
                <option value="On Hold">On Hold</option>
                <option value="Completed">Completed</option>
                <option value="Archived">Archived</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>
        <div class="field">
            <label for="description"><strong>Description:</strong></label>
            <textarea class="ui input" name="description" id="description" placeholder="Enter project description" required></textarea>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/company/projects" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
