{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/company/projects/delete-attachment/{{.ProjectAttachment.UniqueId}}" method="POST">
        <div class="field">
            <label for="attachment_name"><strong>Attachment Name:</strong></label>
            <input class="ui input" type="text" value="{{.ProjectAttachment.AttachmentName}}" name="attachment_name" readonly>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="trash alternate icon"></i>
                Confirm Deletion
            </button>
            <div class="or"></div>
            <a href="/company/projects/{{.Project.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
