{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/references/document-statuses/create" method="POST">
        <div class="field">
            <label for="status_name"><strong>Status Name:</strong></label>
            <input class="ui input" type="text" name="status_name" id="status_name" placeholder="Enter status name" required>
        </div>
        <div class="field">
            <label for="iso_code"><strong>Code:</strong></label>
            <input class="ui input" type="text" name="code" id="code" placeholder="Enter code" required>
        </div>
        <div class="field">
            <label for="lbl_color"><strong>Label Color (class):</strong></label>
            <input class="ui input" type="text" name="lbl_color" id="lbl_color" placeholder="Enter Label Color" required>
        </div>
        <div class="field">
            <label for="bg_color"><strong>Background Color (class):</strong></label>
            <input class="ui input" type="text" name="bg_color" id="bg_color" placeholder="Enter Backgroud Color" required>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <button type="reset" class="ui button">
                <i class="eraser icon"></i>
                Clear
            </button>
            <div class="or"></div>
            <a href="/references/document-statuses" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
