{{ template "partials/header-back" . }}

    <div class="card">
        <div class="card-header">
            *Update user image
        </div>
        <div class="card-body">
            <form class="" action="/users/add-image" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for=""><strong>Username:</strong></label>
                    <input class="form-control" type="text" value="{{ .LoggedUser.UserName }}" id="" readonly>
                </div>
                <div class="mb-3">
                    <label for=""><strong>Picture:</strong></label>
                    <input class="form-control" type="file" name="user_image" autofocus>
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="bi bi-send"></i>
                        Submit
                    </button>
                    <a href="/users/user-data" class="btn btn-danger btn-sm">
                        <i class="bi bi-x"></i>
                        Cancel
                    </a>
                </div>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>

{{ template "partials/footer-back" . }}