{{ template "_partials/header-back" .}}

<div class="ui segment">
    
    <form class="ui form" action="/users/{{.User.UniqueId}}/activate" method="POST">
        <div class="field">
            <label for="username"><strong>User:</strong></label>
            <input class="ui input" type="text" value="{{.User.UserName}}" name="user_name" readonly>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="check circle icon"></i>
                Confirm Activation
            </button>
            <div class="or"></div>
            <a href="/users/{{.User.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
