{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        {{ if eq .User.IsActive "Yes" }}
            <a href="/users/{{.User.UniqueId}}/deactivate" class="ui red button">
                <i class="ban icon"></i>
                Deactivate
            </a>
        {{ else }}
            <a href="/users/{{.User.UniqueId}}/activate" class="ui primary button">
                <i class="checkmark icon"></i>
                Activate
            </a>
        {{ end }}
        <a href="/users/{{.User.UniqueId}}/reset-password" class="ui primary button">
            <i class="refresh icon"></i>
            Reset Password
        </a>
        <a href="/users/{{.User.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
        <a href="/users/{{.User.UniqueId}}/assign-role" class="ui primary button">
            <i class="plus icon"></i>
            Assign Role
        </a>
    </div>

    <div class="ui image">
        {{ if .User.UserImage}}
            <img src="/uploads/images/{{.User.UserImage}}" alt="User Image" class="ui small rounded image">
        {{ else }}
            <img src="/images/user-blank.jpg" alt="Default User Image" class="ui small rounded image">
        {{ end }}
    </div>

    <div class="ui clearing divider"></div>

    <p><strong>ID:</strong> {{.User.UserId}}</p>
    <p><strong>User Name:</strong> {{.User.UserName}}</p>
    <p><strong>Email:</strong> {{.User.Email}}</p>
    <p><strong>Active Status:</strong>
        <span class="{{ if eq .User.IsActive "Yes" }}ui green label{{ else }}ui red label{{ end }}">
            {{ if eq .User.IsActive "Yes" }}Active{{ else }}Inactive{{ end }}
        </span>
    </p>
    <p><strong>Creation Date:</strong> {{.User.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.User.UpdatedAt}}</p>

    <div class="ui clearing divider"></div>
    <p><strong>Status:</strong> {{.User.Status}}</p>
    <p><strong>Device:</strong> {{.User.Device}}</p>
    <p><strong>Browser:</strong> {{.User.Browser}}</p>
    <p><strong>Last Login:</strong> {{.User.LastLogin}}</p>
    <p><strong>Last Logout:</strong> {{.User.LastLogout}}</p>

</div>

{{ template "_partials/footer-back" .}}
