{{ template "_partials/header-back" .}}

<div class="ui segment">

    <div class="ui right floated buttons">
        <a href="/user-management/users" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        {{ if eq .User.IsActive "Yes" }}
            <a href="/user-management/users/{{.User.UniqueId}}/deactivate" class="ui red button">
                <i class="ban icon"></i>
                Deactivate
            </a>
        {{ else }}
            <a href="/user-management/users/{{.User.UniqueId}}/activate" class="ui green button">
                <i class="checkmark icon"></i>
                Activate
            </a>
        {{ end }}
        <a href="/user-management/users/{{.User.UniqueId}}/reset-password" class="ui primary button">
            <i class="refresh icon"></i>
            Reset Password
        </a>
        <a href="/user-management/users/{{.User.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>

    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="user-info">User Info</a>
        <a class="item" data-tab="roles">Roles</a>
        <a class="item" data-tab="status-activity">Status & Activity</a>
        <a class="item" data-tab="api-info">API Info</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="user-info">
        {{ template "authentication/user/details-user-info" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="roles">
        {{ template "authentication/user/details-roles" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="status-activity">
        {{ template "authentication/user/details-status-activity" . }}
    </div>

    <div class="ui bottom attached tab segment" data-tab="api-info">
       {{ template "authentication/user/details-api-info" . }}
    </div>

</div>

{{ template "_partials/footer-back" .}}

<script>
    $('.menu .item').tab(); 
</script>
