{{ template "_partials/header-back" . }}
<div class="ui segment">
    <form class="ui form" action="/users/{{.User.UniqueId}}/reset-password" method="POST">
        <div class="field">
            <label><strong>User Name:</strong></label>
            <input type="text" name="user_name" value="{{.User.UserName}}" readonly>
        </div>
        <div class="field">
            <label><strong>New Password:</strong></label>
            <input type="password" name="password" placeholder="Enter new password" minlength="8" autofocus required>
        </div>
        <div class="field">
            <label><strong>Password Confirmation:</strong></label>
            <input type="password" name="password_conf" placeholder="Confirm new password" minlength="8" required>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/users/{{.User.UniqueId}}/details" class="ui red button">
                <i class="cancel icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" . }}
