{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/configurations/core-entities" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/configurations/core-entities/{{.CoreEntity.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>
    <p><strong>ID:</strong> {{.CoreEntity.EntityId}}</p>
    <p><strong>Entity Name:</strong> {{.CoreEntity.EntityName}}</p>
    <p><strong>Code:</strong> {{.CoreEntity.Code}}</p>
    <p><strong>Associated Module:</strong> {{.CoreEntity.ModuleName}}</p>
    <p><strong>Description:</strong> {{.CoreEntity.Description}}</p>
    <p><strong>Creation Date:</strong> {{.CoreEntity.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.CoreEntity.UpdatedAt}}</p>
</div>

{{ template "_partials/footer-back" .}}
