@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --tablet: 768px;
  --smallMonitor: 992px;
  --largeMonitor: 1200px;
  --font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F5F5F5;
  font-family: var(--font-family) !important;
}

body ::-webkit-scrollbar {
  width: 6px;
}
                                                                     */

.ui.vertical.menu.sidebar-menu {
  margin-top: 40px !important;
  max-height: calc(100% - 40px) !important;
  height: calc(100% - 40px) !important;
}

.ui.vertical.menu.sidebar-menu .item i.icon {
  float: left;
  margin: 0em 0.5em 0em 0em;
}

.main-content {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    width: 15rem !important;
  }
  .main-content {
    margin-left: 15rem;
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}


/* --------------------------------------------------------------- */
.policy-description {
  border: 1px solid #ddd; /* Adds a border around the description */
  padding: 10px;          /* Adds padding for better readability */
  max-height: 300px;      /* Limits the height of the description container */
  overflow-y: auto;       /* Adds a vertical scrollbar if content exceeds max-height */
  background-color: #f9f9f9; /* Optional: adds a background color for better contrast */
  border-radius: 4px;     /* Optional: adds rounded corners */
}

/* --------------------------------------------------------------- */