{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/company/offices/{{.Office.UniqueId}}/edit" method="POST">
        <div class="field">
            <label for="office_name"><strong>Office Name:</strong></label>
            <input class="ui input" type="text" name="office_name" id="office_name" value="{{.Office.OfficeName}}" autofocus required>
        </div>
        <div class="field">
            <label for="code"><strong>Code:</strong></label>
            <input class="ui input" type="text" name="code" id="code" value="{{.Office.Code}}" required>
        </div>
        <div class="field">
            <label for="company"><strong>Associated Company:</strong></label>
            <select class="ui dropdown" id="company_id" name="company_id" required>
                <option value="{{.Office.CompanyId}}">{{.Office.CompanyName}}</option>
                {{ range .Companies }}
                    <option value="{{.CompanyId}}">{{.CompanyName}}</option>
                {{ end }}
            </select>
        </div>
        <div class="field">
            <label for="address"><strong>Address:</strong></label>
            <input class="ui input" type="text" name="address" id="address" value="{{.Office.Address}}">
        </div>
        <div class="field">
            <label for="phone"><strong>Phone:</strong></label>
            <input class="ui input" type="text" name="phone" id="phone" value="{{.Office.Phone}}">
        </div>
        <div class="field">
            <label for="email"><strong>Email:</strong></label>
            <input class="ui input" type="email" name="email" id="email" value="{{.Office.Email}}">
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/company/offices/{{.Office.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
