{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/configurations/email-configurations/edit" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label for="smtp_server"><strong>SMTP Server:</strong></label>
            <input class="ui input" type="text" name="smtp_server" value="{{.AppConfig.EmailConfig.SMTPServer}}" autofocus required>
        </div>
        <div class="field">
            <label for="smtp_port"><strong>SMTP Port:</strong></label>
            <input class="ui input" type="number" name="smtp_port" value="{{.AppConfig.EmailConfig.SMTPPort}}" required>
        </div>
        <div class="field">
            <label for="sender_email"><strong>Sender Email:</strong></label>
            <input class="ui input" type="email" name="sender_email" value="{{.AppConfig.EmailConfig.SenderEmail}}" required>
        </div>
        <div class="field">
            <label for="sender_password"><strong>Sender Password:</strong></label>
            <input class="ui input" type="text" name="sender_password" value="{{.AppConfig.EmailConfig.SenderPassword}}" required>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/configurations/email-configurations" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
