{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/company/policies/create" method="POST">
        <div class="field">
            <label for="company_id"><strong>Company:</strong></label>
            <select class="ui dropdown" id="company_id" name="company_id" required>
                <option value="">Select Company</option>
                {{ range .Companies }}
                    <option value="{{.CompanyId}}">{{.CompanyName}}</option>
                {{ end }}
            </select>
        </div>
        <div class="field">
            <label for="policy_name"><strong>Policy Name:</strong></label>
            <input class="ui input" type="text" name="policy_name" id="policy_name" placeholder="Enter policy name" required>
        </div>
        <div class="field">
            <label for="effective_date"><strong>Effective Date:</strong></label>
            <input class="ui input" type="date" name="effective_date" id="effective_date" required>
        </div>
        <div class="field">
            <label for="description"><strong>Description:</strong></label>
            <textarea class="ui input" name="description" id="description" placeholder="Enter policy description" required></textarea>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/company/policies" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
