{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/company/policies" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/company/policies/{{.Policy.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
        <a href="/company/policies/{{.Policy.UniqueId}}/delete" class="ui red button">
            <i class="trash alternate icon"></i>
            Delete
        </a>
    </div>
    <p><strong>ID:</strong> {{.Policy.PolicyId}}</p>
    <p><strong>Policy Name:</strong> {{.Policy.PolicyName}}</p>
    <p><strong>Effective Date:</strong> {{.Policy.EffectiveDate}}</p>
    <p><strong>Creation Date:</strong> {{.Policy.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.Policy.UpdatedAt}}</p>
    <p><strong>Description:</strong> {{.Policy.Description}}</p>
    
    <div class="ui divider"></div>
    <p><strong>Attachments: </strong>{{.CountAttachments}}</p>
    <div class="ui container"  align="right">
        <a href="/company/policies/{{.Policy.UniqueId}}/add-attachment" class="ui primary button small">
            <i class="paperclip icon"></i>
            Add Attachment
        </a>
    </div>
    {{ if .CountAttachments }}
        <table class="ui selectable small table blue">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Attachment Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {{ range .PolicyAttachments }}
                    <tr>
                        <td>{{.AttachmentId}}</td>
                        <td>{{.AttachmentName}}</td>
                        <td>
                            <a target="_blank" href="/company/policies/display-attachment/{{.UniqueId}}" class="ui icon button" data-tooltip="Display">
                                <i class="pdf file red blue icon"></i>
                            </a>
                            <a href="/company/policies/edit-attachment/{{.UniqueId}}" class="ui icon button" data-tooltip="Edit Info">
                                <i class="pencil blue icon"></i>
                            </a>
                            <a href="/company/policies/delete-attachment/{{.UniqueId}}" class="ui icon button" data-tooltip="Delete Attachment">
                                <i class="trash alternate red icon"></i>
                            </a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    {{ else }}
        <div class="ui warning message">
            No attachments found
        </div>
    {{ end }}
</div>

{{ template "_partials/footer-back" .}}
