{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/company/policies" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/company/policies/{{.Policy.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
        <a href="/company/policies/{{.Policy.UniqueId}}/delete" class="ui red button">
            <i class="trash alternate icon"></i>
            Delete
        </a>
    </div>
    <p><strong>ID:</strong> {{.Policy.PolicyId}}</p>
    <p><strong>Policy Name:</strong> {{.Policy.PolicyName}}</p>
    <p><strong>Effective Date:</strong> {{.Policy.EffectiveDate}}</p>
    <p><strong>Creation Date:</strong> {{.Policy.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.Policy.UpdatedAt}}</p>
    <p><strong>Description:</strong> {{.Policy.Description}}</p>
</div>

{{ template "_partials/footer-back" .}}
