{{ template "_partials/header-back" . }}

    <div class="card">
        <div class="card-header">
            *These settings are necessary for Basic things
        </div>
        <div class="card-body">
            <form class="" action="/configuracoes/editar-email" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for=""><strong>SMTP Server:</strong></label>
                    <input type="text" class="form-control" name="SMTPServer" value="{{ .Configuracao.SMTPServer }}" autofocus required>
                </div>
                <div class="mb-3">
                    <label for=""><strong>SMTP Port:</strong></label>
                    <input type="number" class="form-control" name="SMTPPort" value="{{ .Configuracao.SMTPPort }}" required>
                </div>
                <div class="mb-3">
                    <label for=""><strong>Sender Email:</strong></label>
                    <input type="text" class="form-control" name="SenderEmail" value="{{ .Configuracao.SenderEmail }}" required>
                </div>
                <div class="mb-3">
                    <label for=""><strong>Sender Password:</strong></label>
                    <input type="text" class="form-control" name="SenderPassword" min="5" max="50" value="{{ .Configuracao.SenderPassword }}" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mr-2 btn-sm">
                        <i class="bi bi-send"></i>
                        Submeter
                    </button>
                    <button type="reset" class="btn btn-secondary btn-sm">
                        <i class="bi bi-eraser"></i>
                        Limpar
                    </button>
                    <a href="/configuracoes" class="btn btn-danger btn-sm">
                        <i class="bi bi-x"></i>
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

{{ template "_partials/footer-back" . }}