{{ template "_partials/header-auth" .}}

    <form class="ui large form" id="get-link-form" action="/auth/get-recover-link" method="POST">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="email" name="email" placeholder="Type Recovery Email" autofocus>
                    <div id="email-error" style="color: red;"></div>
                </div>
            </div>
            <button type="submit" class="ui fluid large blue submit button">
                Get Recover Link
            </button>
        </div>
        <div class="ui error message"></div>
    </form>

    <div class="ui message">
        Did you get recovery link? Click <a href="/auth/login">Here</a>
    </div>
    
{{ template "_partials/footer-auth" .}}