{{ template "_partials/header-auth" . }}

    <form class="ui large form" id="recover-password-form" action="/auth/recover-password/{{ .User.Token }}" method="POST">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="user_name" placeholder="Type your User Name" value="{{ .User.Email }}" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Type your Password">
                    <div id="password-error" style="color: red;"></div>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password_conf" placeholder="Type your Password Confirmation">
                    <div id="password-conf-error" style="color: red;"></div>
                </div>
            </div>
            <button type="submit" class="ui fluid large teal submit button">
                Recover Password
            </button>
        </div>
        <div class="ui error message"></div>
    </form>

    <div class="ui message">
        Did you recover password? Click <a href="/auth/login">Here</a>
    </div>

    <script>
        // JavaScript for form validation
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("recover-password-form");
            const newPasswordInput = document.getElementById("floatingNewPassword");
            const passwordConfInput = document.getElementById("floatingConfPassword");
            const newPasswordError = document.getElementById("password-error");
            const passwordConfError = document.getElementById("password-conf-error");
    
            form.addEventListener("submit", function (event) {
                // Prevent the form from submitting by default
                event.preventDefault();
    
                const newPassword = newPasswordInput.value;
                const passwordConf = passwordConfInput.value;
    
                // Check if passwords match
                if (newPassword !== passwordConf) {
                    newPasswordError.textContent = "Passwords does not match";
                    passwordConfError.textContent = "Passwords does not match";
                    return;
                } else {
                    newPasswordError.textContent = "";
                    passwordConfError.textContent = "";
                }

                const minLength = 8;
                if (newPassword.length < minLength) {
                    newPasswordError.textContent = `Must be at least ${minLength} characters`;
                    return;
                }
                // If passwords match, you can submit the form
                form.submit();
            });
        });
    </script>

{{ template "_partials/footer-auth" . }}