{{ template "_partials/header-auth" . }}

    <div class="form-signin">
        <form id="recover-password-form" action="/auth/recover-password/{{ .User.Token }}" method="POST">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" value="{{ .User.UserName }}" readonly>
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingNewPassword" name="password" placeholder="Password" autofocus>
                <label for="floatingPassword">Password</label>
                <div id="password-error" style="color: red;"></div>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingConfPassword" name="password_conf" placeholder="Password">
                <label for="floatingPassword">Password Confirmation</label>
                <div id="conf-password-error" style="color: red;"></div>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                <i class="bi bi-send"></i>
                Recover
            </button>
            <div class="checkbox mb-3">
                Do you have an acoount? Click <a href="/auth/login">Here</a>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
        </form>
    </div>

    <script>
        // JavaScript for form validation
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("recover-password-form");
            const newPasswordInput = document.getElementById("floatingNewPassword");
            const confPasswordInput = document.getElementById("floatingConfPassword");
            const newPasswordError = document.getElementById("password-error");
            const confPasswordError = document.getElementById("conf-password-error");
    
            form.addEventListener("submit", function (event) {
                // Prevent the form from submitting by default
                event.preventDefault();
    
                const newPassword = newPasswordInput.value;
                const confPassword = confPasswordInput.value;
    
                // Check if passwords match
                if (newPassword !== confPassword) {
                    newPasswordError.textContent = "Passwords does not match";
                    confPasswordError.textContent = "Passwords does not match";
                    return;
                } else {
                    newPasswordError.textContent = "";
                    confPasswordError.textContent = "";
                }

                const minLength = 8;
                if (newPassword.length < minLength) {
                    newPasswordError.textContent = `Must be at least ${minLength} characters`;
                    return;
                }
                // If passwords match, you can submit the form
                form.submit();
            });
        });
    </script>

{{ template "_partials/footer-auth" . }}