{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/employees/document-types" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/employees/document-types/{{.DocumentType.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>
    <p><strong>ID:</strong> {{.DocumentType.TypeId}}</p>
    <p><strong>Type Name:</strong> {{.DocumentType.TypeName}}</p>
    <p><strong>Description:</strong> {{.DocumentType.Description}}</p>
    <p><strong>Creation Date:</strong> {{.DocumentType.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.DocumentType.UpdatedAt}}</p>
</div>

{{ template "_partials/footer-back" .}}
