{{ template "_partials/header-back" .}}

<div class="ui segment">
    <h4 class="ui header">Manage Module Availability</h4>
    <div class="ui divider"></div>
    <form class="ui form" action="/configurations/core-entity-flags/manage" method="POST">
        <div class="ui grid">
            {{ $currentModule := "" }}
            {{ range .CoreEntityFlags }}
                {{ if ne .ModuleName $currentModule }}
                    {{ if $currentModule }} <!-- Insert horizontal rule if not the first module -->
                        <div class="ui divider"></div>
                    {{ end }}
                    <!-- Display module name -->
                    <div class="row">
                        <div class="sixteen wide column">
                            <h2 class="ui header">{{ .ModuleName }}</h2>
                        </div>
                    </div>
                    {{ $currentModule = .ModuleName }}
                {{ end }}
                <!-- Display entity flag -->
                <div class="row">
                    <div class="eight wide column">
                        <label for="flag_{{.FlagId}}"><strong>{{.EntityName}}</strong></label>
                    </div>
                    <div class="eight wide column">
                        <select class="ui dropdown" name="flag_{{.FlagId}}" id="flag_{{.FlagId}}" 
                            {{if eq .ModuleName "Configurations"}}disabled{{end}}>
                            <option value="Enabled" {{if eq .Status "Enabled"}}selected{{end}}>Enabled</option>
                            <option value="Disabled" {{if eq .Status "Disabled"}}selected{{end}}>Disabled</option>
                        </select>
                    </div>
                </div>
            {{ end }}
        </div>
        <div class="ui divider"></div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="save icon"></i>
                Save Changes
            </button>
            <div class="or"></div>
            <a href="/configurations/core-entity-flags" class="ui red button">
                <i class="cancel icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
