{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/references/employment-statuses" class="ui primary button">
            <i class="left arrow icon"></i>
            Return to List
        </a>
        <a href="/references/employment-statuses/{{.EmploymentStatus.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>
    <p><strong>ID:</strong> {{.EmploymentStatus.StatusId}}</p>
    <p><strong>Status Name:</strong> {{.EmploymentStatus.StatusName}}</p>
    <p><strong>Code:</strong> {{.EmploymentStatus.Code}}</p>
    <p><strong>Description:</strong> {{.EmploymentStatus.Description}}</p>
    <p><strong>Creation Date:</strong> {{.EmploymentStatus.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.EmploymentStatus.UpdatedAt}}</p>
</div>

{{ template "_partials/footer-back" .}}
