<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Titulo }}</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css">
  </head>
  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/inicio">
        <img src="/images/logo.png" alt="" class="img img-rounded" style="width: 30px; height: 30px;">
        {{ .ConfiguracaoBasica.SiglaEmpresa }}
      </a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/auth/logout" style="color: white">
            <i class="bi bi-box-arrow-right"></i>
            Sair
          </a>
        </div>
      </div>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/inicio">
                  <i class="bi bi-house"></i>
                  Início
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/balancetes">
                  <i class="bi bi-table"></i>
                  Balancetes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/taxas-juro">
                  <i class="bi bi-file-earmark-spreadsheet"></i>
                  Taxas de Juro
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/reportes">
                  <i class="bi bi-filetype-xml"></i>
                  Reportes Gerados
                </a>
              </li>
              {{ if eq .LoggedUser.RoleCode "admin" }}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/users">
                    <i class="bi bi-person-circle"></i>
                    Usuários
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/configuracoes">
                    <i class="bi bi-gear"></i>
                    Configurações
                  </a>
                </li>
              {{ end }}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/change-password">
                  <i class="bi bi-lock"></i>
                  Alterar Senha
                </a>
              </li>
            </ul>
          </div>
        </nav> 

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ .Titulo }}</h1>
          </div>
 
  
