<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/lib/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!-- sidebar -->
    <div class="ui sidebar black inverted vertical menu sidebar-menu" id="sidebar">
        <!-- Menu acoording role -->
        {{ template "_partials/menu" .}}
    </div>
    <!-- top nav -->
    <nav class="ui top fixed blue inverted menu">
      <div class="left menu">
        <a href="" class="sidebar-menu-toggler item" data-target="#sidebar">
          <i class="sidebar icon"></i>
        </a>
        <a href="" class="header item">
          <img src="/images/logo.png" alt="" style="width: 25px; height: 26px;"> &nbsp;&nbsp;
          {{.AppConfig.BasicConfig.AppAcronym}}
        </a>
      </div>
      <div class="right menu">
        <a href="/notifications" class="item">
          <i class="bell icon"></i>
        </a>
        <div class="ui dropdown item">
          <i class="user cirlce icon"></i>
          <div class="menu">
            <a href="/account/user-data" class="item">
              <i class="info circle icon"></i> 
              User Data
            </a>
            <a href="/account/upload-image" class="item">
              <i class="camera icon"></i>
              Upload Image
            </a>
            <a href="/account/change-password" class="item">
              <i class="edit icon"></i>
              Change Password
            </a>
            <a href="/auth/logout" class="item">
              <i class="sign out alternate icon"></i>
              Logout
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- CONTENT -->
    <div class="pusher">
      <div class="main-content">
          <div class="" style="padding: 1%;">
            <div>
              <h3>{{.Title}}</h3>
            </div>
        
