<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/lib/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="/css/auth-style.css">
  </head>

  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
          <h2 class="ui teal image header">
              <img src="/images/logo.png" class="image">
              <div class="content">
                  {{ .Title }}
              </div>
          </h2>
        