<div class="item">
    <div class="header">{{.AppConfig.CompanyConfig.CompanyName}}</div>
</div>
<a href="/home" class="item">
    <div>
        <i class="home icon"></i>
        Home
    </div>
</a>
<a href="/users-management" class="item">
    <div>
        <i class="users icon"></i>
        Users Management
    </div>
</a>
<a href="/company" class="item">
    <div>
        <i class="building icon"></i>
        Company Management
    </div>
</a>
<a href="/employees" class="item">
    <div>
        <i class="user icon"></i>
        Employees
    </div>
</a>
<a href="/references" class="item">
    <div>
        <i class="list icon"></i>
        References
    </div>
</a>
<a href="/reports" class="item">
    <div>
        <i class="chart bar icon"></i>
        Reports
    </div>
</a>
<a href="/configurations" class="item">
    <div>
        <i class="cogs icon"></i>
        Configurations
    </div>
</a>
