{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/user-management/roles/{{.Role.UniqueId}}/assign-permission" method="POST">
        <div class="field">
            <label for="role_name"><strong>Role Name:</strong></label>
            <input class="ui input" type="text" value="{{.Role.RoleName}}" name="role_name" readonly>
        </div>
        <div class="field">
            <label for="role"><strong>Assign Permission:</strong></label>
            <select class="ui dropdown" id="permission" name="permission_id" required>
                <option value="">Select Permissions</option>
                {{ range .Permissions }}
                    <option value="{{.PermissionId}}">{{.PermissionName}}</option>
                {{ end }}
            </select>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/user-management/roles/{{.Role.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
