{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/user-management/roles/{{.Role.UniqueId}}/delete" method="POST">
        <div class="field">
            <label for="username"><strong>Role:</strong></label>
            <input class="ui input" type="text" value="{{.Role.RoleName}}" name="user_name" readonly>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="trash alternate icon"></i>
                Confirm Deletion
            </button>
            <div class="or"></div>
            <a href="/user-management/roles/{{.Role.UniqueId}}/details" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}
