{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/roles/{{.Role.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
        <a href="/roles/{{.Role.UniqueId}}/assign-permission" class="ui primary button">
            <i class="plus icon"></i>
            Assign Permission
        </a>
    </div>
    <p><strong>ID:</strong> {{.Role.RoleId}}</p>
    <p><strong>Role Name:</strong> {{.Role.RoleName}}</p>
    <p><strong>Code:</strong> {{.Role.Code}}</p>
    <p><strong>Description:</strong> {{.Role.Description}}</p>
    <p><strong>Creation Date:</strong> {{.Role.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.Role.UpdatedAt}}</p>
</div>

{{ template "_partials/footer-back" .}}
