{{ template "_partials/header-back" .}}

<div class="ui segment">
    <form class="ui form" action="/roles/{{.Role.UniqueId}}/edit" method="POST">
        <div class="field">
            <label for="role_name"><strong>Role Name:</strong></label>
            <input class="ui input" type="text" name="role_name" value="{{.Role.RoleName}}" autofocus>
        </div>
        <div class="field">
            <label for="role_name"><strong>Code:</strong></label>
            <input class="ui input" type="text" name="code" value="{{.Role.Code}}">
        </div>
        <div class="field">
            <label for="description"><strong>Description:</strong></label>
            <textarea class="ui input" cols="20" rows="5"  name="description">{{.Role.Description}}</textarea>
        </div>
        <div class="ui buttons">
            <button type="submit" class="ui primary button">
                <i class="send icon"></i>
                Submit
            </button>
            <div class="or"></div>
            <a href="/roles/{{.Role.UniqueId}}" class="ui red button">
                <i class="x icon"></i>
                Cancel
            </a>
        </div>
    </form>
</div>

{{ template "_partials/footer-back" .}}