{{ template "partials/header-back" . }}

    <div class="card">
        <div class="card-header">
            *All fields are mandatory
        </div>
        <div class="card-body">
            <form class="" action="/change-password" method="POST">
                <div class="mb-3">
                    <label for=""><strong>Username:</strong></label>
                    <input class="form-control" type="text" name="username" id="" value="{{ .LoggedUser.UserName }}">
                </div>
                <div class="mb-3">
                    <label for=""><strong>New Password:</strong></label>
                    <input class="form-control" type="password" name="password" id="" placeholder="Nova senha" minlength="8" required autofocus>
                </div>
                <div class="mb-3">
                    <label for=""><strong>Password Confirmation:</strong></label>
                    <input class="form-control" type="password" name="password_conf" placeholder="Confirmação da senha" minlength="8" required id="">
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="bi bi-send"></i>
                        Submit
                    </button>
                    <a href="/change-password" class="btn btn-danger btn-sm">
                        <i class="bi bi-x"></i>
                        Cancel
                    </a>
                </div>
            </form>  
        </div>
        <div class="card-footer">
        </div>
    </div>

{{ template "partials/footer-back" . }}