<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/lib/semantic-ui/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <br><br>
        <h1>Golang Modular Software API</h1>
           
        <div class="ui message">
            <h2><i class="info circle blue icon"></i>API Collection Download</h2>
            <div class="ui divider"></div>
            <p>To simplify testing and interaction with the Golang Modular Software API, we’ve prepared an API collection compatible with Postman.</p>
            <p>Download the collection by clicking the link below:</p>
            <a target='_blank' href='/api/download-collections'>Download API Collection</a>
            <p>Once downloaded, you can import the collection into Postman and start testing the endpoints immediately.</p>
        </div>
    </div>
</body>
</html>
