{{ template "_partials/header-back" .}}

<div class="ui segment">
    <div class="ui right floated buttons">
        <a href="/references/countries" class="ui primary button">
            <i class="left arrow icon"></i>
            Return To List
        </a>
        <a href="/references/countries/{{.Country.UniqueId}}/edit" class="ui primary button">
            <i class="pencil icon"></i>
            Edit
        </a>
    </div>
    <p><strong>Flag:</strong>  <i class="{{.Country.IsoCodeLower}} flag "></i></p>
    <p><strong>ID:</strong> {{.Country.CountryId}}</p>
    <p><strong>Country Name:</strong> {{.Country.CountryName}}</p>
    <p><strong>ISO Code:</strong> {{.Country.IsoCode}}</p>
    <p><strong>Dialing Code:</strong> {{.Country.DialingCode}}</p>
    <p><strong>Creation Date:</strong> {{.Country.CreatedAt}}</p>
    <p><strong>Last Update:</strong> {{.Country.UpdatedAt}}</p>
</div>

{{ template "_partials/footer-back" .}}
